<h1>Welcome to HealthCare.gov</h1>

<h3>Sign Up Below</h3>

<!-- Add your signup form here! Don't forget the method and action -->

<form method="POST" action="/signup">
	<input type='text' name="name" placeholder="Name">
	<input type='text' name="email" placeholder="Email">
	<input type='text' name="zipcode" placeholder="Zip Code">
	<input type='password' name="password" placeholder="Password">
	<input type="submit" value="Submit">
</form>