<h1>Welcome to Healthcare.gov</h1>

<! -- Using ERB, display the newly created user's name, email address, and zipcode below -->

<h3>Name: <%= @user.name %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Zip Code: <%= @user.zipcode %></h3>
